<header>
    <section>Naidelyn Maldonado</section>
    <nav>
        <ul>
            <li><a href="%BASE_URL%index.html">Inicio</a></li>
            <li><a href="%BASE_URL%servicios.html">Servicios</a></li>
            <li><a href="%BASE_URL%contacts/contacto.html">Contacto</a></li>
        </ul>
    </nav>
</header>